@model IEnumerable<SmartFactory.Models.material>

@{string language = "korea";

    try
    {
        language = Context.Request.Cookies["language"] ?? "korea";

    }
    catch
    {


    }
}


<div class="container sub_page">


    <div class="sub_title_black">
        @SmartFactory.Util.get_word.language_code(language, "setting")
    </div>
    <hr />


    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.aName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.material_idx)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.writeDate)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.aName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.material_idx)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.writeDate)
                    </td>
                    <td>


                        <span type="button" rel="tooltip" title="Edit Task" class="btn btn-info btn-simple btn-xs">
                            <img src="~/images/common/s_edit_icon.gif" onclick="go('/management/material_set?idx=@item.idx')" />
                        </span>
                        <span type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">

                            <img src="~/images/common/s_icon_del.gif" onclick="del_it('/management/material_action?idx=@item.idx') " />
                        </span>


                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="col-md-12" style="display: table; margin: 20px; text-align: center;">
        <div class="btn btn-default btn-fill btn-wd   btn-info" onclick="go('material_set') ">

            @SmartFactory.Util.get_word.language_code(language, "create")
        </div>
    </div>



</div>