@model SmartFactory.Models.code_position
<script src="~/Content/Board/Board.js"></script>
<script src="~/Content/Board/moment.min.js"></script>
@{
    string url =Context.Request.Path;
    string url_action = url + "_action";

    string code_what = ViewBag.타이틀;

}

<div class="container">
    <div class="row">
        <div class="col-md-5">
            <div class="card">

                <div class="content">
                   

                
                    <form id="form3" action="@url_action" method="post">
                   
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="idx" id="idx" value="@Context.Request.Query["idx"]" />
                        <input type="hidden" name="code_id" id="code_id" value="@Model.code_id" />
                        <input type="hidden" name="use_yn" id="use_yn" value="@Model.use_yn" />
                        <input type="hidden" name="mode_type" id="mode_type" />
                        <input type="hidden" name="re_url" id="re_url" value="@url" />


                        <div class="form-horizontal">
                            <div class="sub_title_black">
                               @code_what
                            </div>
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })




                            <div class="form-group">
                                <span class="control-label col-md-4">회사</span>
                                <div class="col-md-8">
                                    @Html.DropDownList("company_idx", (SelectList)ViewBag.회사, "No Select", new { @class = "selectpicker ",@onchange = "reload_it()" })
                                </div>
                            </div>


                            <div class="form-group">
                                <span class="control-label col-md-4">코드 이름</span>
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.code_name, new { htmlAttributes = new { @class = "form-control" } })

                                </div>
                            </div>

                            <div class="form-group">
                                <span class="control-label col-md-4">메모</span>
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.gubun, new { htmlAttributes = new { @class = "form-control" } })

                                </div>
                            </div>


                            <div class="form-group">
                                <span class="control-label col-md-4" rel="tooltip" title="정렬순서">Index Order</span>
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.index_order, new { htmlAttributes = new { @class = "form-control", @onkeydown = "return onlyNumber(event)", @onkeyup = "removeChar(event)", @maxlength = "3" } })
                                    @Html.ValidationMessageFor(model => model.index_order, "", new { @class = "text-danger" })
                                </div>
                            </div>


                        </div>

                        <hr />

                        <fieldset>
                            <div class="form-group">
                                <div class="col-md-12" style="display: table; margin: 20px; text-align: center;">
                                    @if (string.IsNullOrEmpty(Context.Request.Query["idx"]))
                                    {
                                        <div class=" btn btn-default btn-fill btn-wd   btn-info" style="margin-right:5px" onclick="save_it() ">
                                            Save
                                        </div>

                                    }
                                    else
                                    { <div class=" btn btn-default btn-fill btn-wd   btn-info" style="margin-right:5px" onclick="save_it() ">
                                            Save
                                        </div>

                                        <div class=" btn btn-default btn-fill btn-wd   btn-default" style="margin-right:5px" onclick="reload_it() ">
                                            Refresh
                                        </div>
                                    }



                                </div>
                            </div>
                        </fieldset>
                   </form>


                </div>
            </div>
        </div>

        <div class="col-md-7">
            <div class="card">
                <div class="content">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                   회사 명
                                </th>
                                <th>
                                    ID
                                </th>
                                <th>
                                    코드 이름
                                </th>
                                <th>
                                    코드 이름 영문
                                </th>
                                <th>
                                    메모
                                </th>
                                <th>
                                    정렬 순서(옵션)
                                </th>

                                <th>
                                    EDIT
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ViewBag.리스트 )
                            {
                            <tr>
                                <td style="padding:5px">

                                    @item.company_idxNavigation.company_name

                                </td>


                                <td style="padding:5px">

                                    @item.code_id

                                </td>

                                <td>
                                    @item.code_name

                                </td>

                                <td>
                                    @item.code_name_en

                                </td>
                                <td>
                                    @item.gubun
                                </td>
                                <td>
                                    @item.index_order
                                </td>


                                <td style="width:60px">


                                    <span onclick="go_edit(@item.code_id)" style="margin-right:5px;cursor:pointer" rel="tooltip" title="Edit"> <img src="~/images/common/s_edit_icon.gif" /></span>
                                    <span onclick="go_del(@item.code_id)" style="cursor:pointer" rel="tooltip" title="사용안함">
                                        <img src="~/images/common/s_icon_del.gif" />
                                    </span>

                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>


            </div>


        </div>


    </div>




</div>



<script type="text/javascript">

     function go_edit(i) {
     var _url =  "@url";
     location.href= _url+"?idx="+i;

    }
     function reload_it() {

        var company_idx = $("#company_idx").val();
        var _url = "@url"+"?company_idx="+company_idx;
       location.href= _url;

     }

     function save_it() {

     check("company_idx,code_name", "form3");

     }


   function go_del(i) {


      if (confirm("Are you sure you want to disable the selected item?")) {
     var _url = "@url_action";
     location.href= _url+"?idx="+i+"&mode_type=D&re_url=@url";

      }
    else{ return false;}





    }



</script>