@using SmartFactory.Models
@model SmartFactory.Models.BoardList
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@using SmartFactory.Util;

@{string language = "korea"; }
@{
    string idx = Context.Request.Query["idx"];
    string cate = Context.Request.Query["cate"];
    string Mode = "i";
 

    if (string.IsNullOrEmpty(cate))
    {
        Mode = "i";
    }
    else
    {
        Mode = "e";
    }

}
<script src="~/Content/ckeditor/ckeditor.js"></script>
<script src="~/Content/Board/Board.js"></script>
<link href="~/Content/Board/light-bootstrap-dashboard.css" rel="stylesheet" />
<link href="~/Content/Board/board.css" rel="stylesheet" />



@*날짜 스크립트t 시작*@
<script src="~/Content/Board/demo.js"></script>
<script src="~/Content/Board/moment.min.js"></script>
<script src="~/Content/Board/bootstrap-datetimepicker.js"></script>

<script type="text/javascript">
    $().ready(function () {

        // Init DatetimePicker
        // demo.initFormExtendedDatetimepickers();
    });
</script>

@*날짜 스크립트 끝*@
<script type="text/javascript">

    function save_it() {

        var check_it = "Y";
        var BD_BM_idx = $("#cate").val();
        $("#cate").attr("value", BD_BM_idx);

        $("input[type='file'][name*='file_1']").each(function () {
            if ($(this).val().length == 0) {
                alert("첨부파일이 없습니다. 첨부파일 등록을 원하지 않으시면 삭제 아이콘을 클릭해주세요");
                check_it = "N";

            }

        });
          @if (SignInManager.IsSignedIn(User))
                {
                <text>  if (check_it == "Y")
                  {
                      check("BD_title", "BoardForm");

                    }
                 </text>
          }
          else
          {

               <text>  if (check_it == "Y")
                  {
                     check("BD_title,BD_writer,BD_password", "BoardForm");

                    }
                 </text>
          }

          }
</script>



<div class="container">

    <div class="col-md-12">
        <div class="card">
            <div class="content">

                <form id="BoardForm" name="BoardForm" method="post" enctype="multipart/form-data" action="~/Board/Board_action">


                    @Html.AntiForgeryToken()

                    <input type="hidden" name="cate" id="cate" value="@cate" />
                    <input type="hidden" name="BM_idx" id="BM_idx" value="@cate" />
                    <input type="hidden" name="idx" id="idx" value="@idx" />
                    <input type="hidden" name="fileId" id="fileId" value="@Model.fileId" />
                    <input type="hidden" name="file_idx" id="file_idx" />


                    <div class="form-horizontal">
                      

                        <div class="sub_title_black">
                            @SmartFactory.Util.get_word.language_code(language, "Create")
                        </div>

                        <hr />

                        <div class="panel panel-default">


                            <div id="collapseOne" class="panel-collapse ">


                                @if (SignInManager.IsSignedIn(User))
                                {
                                    <input type="hidden" name="writer" id="writer" value="@User.Identity.Name" />
                                }
                                else
                                {
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" title="수정 및 삭제 시 작성자 성함이 필요합니다. ">작성자 성함 </label>
                                        <div class="col-md-4">

                                            @Html.TextBoxFor(a => a.writer, new { Class = "form-control", maxlength = 50 })

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" title="20글자 이내">비밀번호 </label>
                                        <div class="col-md-4">

                                            @Html.PasswordFor(a => a.password, new { Class = "form-control", maxlength = 20 })

                                        </div>
                                    </div>

                                }







                                <div class="form-group">
                                    <label class="col-sm-2 control-label">제목 </label>
                                    <div class="col-md-9">

                                        @Html.TextBoxFor(a => a.title, new { Class = "form-control" })

                                    </div>
                                </div>





                                <div class="form-group">
                                    <label class="col-sm-2 control-label">내용 </label>
                                    <div class="col-md-9">

                                        @Html.TextAreaFor(a => a.content, new { Class = "form-control" })

                                        <script>
                                            CKEDITOR.replace('content', {
                                                filebrowserUploadUrl: '/Board/BoardImageUpload?type=Files',
                                                filebrowserImageUploadUrl: '/Board/BoardImageUpload?type=Images',
                                                height: '300px',
                                                width: '100%'
                                            });
                                            CKEDITOR.on('dialogDefinition', function (ev) {
                                                // Take the dialog name and its definition from the event data.
                                                var dialogName = ev.data.name;
                                                var dialogDefinition = ev.data.definition;
                                                // Check if the definition is from the dialog we're
                                                // interested in (the 'image' dialog).
                                                if (dialogName == 'image') {
                                                    // Get a reference to the 'Image Info' tab.

                                                    dialogDefinition.removeContents('advanced');
                                                    dialogDefinition.removeContents('Link');


                                                }
                                            });
                                        </script>

                                    </div>
                                </div>


                            </div>
                        </div>

                        @if (ViewBag.파일 == "Y")
                        {



                            <div class="row">
                                <div id="dialog" style="display: none; z-index: 999;position:relative;top:0">
                                    <img id="photo_big" />
                                </div>

                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading" style="margin-left:20px">
                                    <h4 class="panel-title" style="cursor:pointer">
                                        <a data-target="#collapseTwo" data-toggle="collapse">
                                            첨부파일


                                        </a>
                                    </h4>
                                </div>

                                <div id="collapseTwo" class="panel-collapse ">

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label"> </label>
                                        <div class="col-md-4">
                                            <span class="btn btn-info " onclick="AddFile($(this), 'file_list', 'files')" style="background:#fff; border:0;color:#333;font-weight:bold">
                                                <img src="~/images/common/icon_save.gif" /> @SmartFactory.Util.get_word.language_code(language, "attachment file")
                                            </span>
                                        </div>


                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label"></label>
                                        <div class="col-md-10" id="file_list">
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <label class="col-sm-2 control-label"> </label>
                                        <div class="col-md-10">
                                            @if (ViewBag.이미지리스트카운트 > 0)
                                            {

                                                @foreach (var item in ViewBag.이미지리스트 as List<BoardFile>)
                                                {
                                                    <div style="width:130px;float:left;margin-left:10px">

                                                        <div class="card">
                                                            <div class="card-header" style="height:100px">
                                                                @if (get_word.img_check(item.file_ex) == "img")
                                                                {

                                                                    <img src="@item.sImagePath" style="cursor:pointer; max-width:130px; max-height :100px" onclick="photo_show('Images','@item.ImagePath')" />
                                                                }
                                                                else
                                                                {

                                                                    <img src="~/images/no_img.gif" style="max-height:100px;cursor:pointer" onclick="file_down('@item.ImagePath','@item.fileName')" />


                                                                }
                                                            </div>


                                                            <div class="card-footer">
                                                                <div class="stats" style="font-size: 11px; padding:5px;text-align:center">
                                                                    <span>

                                                                        @if (item.r_date != null)
                                                                        {
                                                                            DateTime _date = Convert.ToDateTime(@item.r_date);
                                                                            <span>
                                                                                @_date.Year.@_date.Month.@_date.Day

                                                                            </span>
                                                                        }

                                                                    </span>
                                                                    <span style="margin-left:5px">
                                                                        <img src="~/images/icon/@get_word.file_type(item.file_ex)" style="width:20px;margin-right:10px;cursor:pointer" onclick="file_down('@item.ImagePath','@item.fileName')" />
                                                                    </span>

                                                                    <span class="mat-button-wrapper" onclick="del_one('@item.id',@idx,'@cate')">
                                                                        <img src="~/images/common/s_icon_del.gif" style="width:15px;cursor:pointer" />
                                                                    </span>
                                                                </div>


                                                            </div>
                                                        </div>
                                                    </div>

                                                }

                                            }
                                        </div>

                                    </div>

                                </div>
                            </div>
                        }


                        <fieldset>
                            <div class="form-group">


                                <div class="col-md-12" style="margin: 20px; text-align: center;">

                                    @if (idx == null)
                                    {
                                        if (ViewBag.권한 == "Y" || ViewBag.권한 == "E")
                                        {
                                            <div class="btn btn-default btn-fill btn-wd   btn-info loading" onclick="save_it() " style="margin-right:1%;margin-top:1%"> @SmartFactory.Util.get_word.language_code(language, "save")</div>}
                                    }
                                    else
                                    {

                                        if (ViewBag.권한 == "Y" || ViewBag.권한 == "E")
                                        {
                                            <div class="btn btn-default btn-fill btn-wd   btn-info loading" onclick="save_it() " style="margin-right:1%;margin-top:1%">  @SmartFactory.Util.get_word.language_code(language, "save")</div>
                                            <div class="btn btn-default btn-fill btn-wd   btn-danger loading" id="Delbtn" style="border:0;margin-right:1%;margin-top:1%"> @SmartFactory.Util.get_word.language_code(language, "Remove")</div>

                                        }

                                    }

                                    <div class="btn btn-default btn-fill btn-wd   btn-default loading" onclick="go('/board/board_list?cate=@cate')" style="border:0;margin-right:1%;margin-top:1%">

                                        @SmartFactory.Util.get_word.language_code(language, "backtolist")

                                    </div>
                                </div>

                            </div>

                        </fieldset>


                    </div>
                </form>
            </div>
        </div>
    </div>

</div>



@using (Html.BeginForm("Board_action", "Board", FormMethod.Post, new { id = "DelForm" }))
{
    @Html.Hidden("idx", Model.idx)
    @Html.Hidden("cate", cate)
    @Html.Hidden("mode_type", "D")
}

<script>

    function photo_show(title, url) {
        $("#dialog").css("display", "block");

        $(".ui-dialog-title").html(title);
        $("#photo_big").attr("src", url);
        $("#photo_big").css("max-width", "760px").css("cursor", "pointer");



        $("#photo_big").on("click", function () {
            $("#dialog").css("display", "none");



        });
    }
    function del_one(file_idx) {


        if (confirm("첨부 파일을 삭제하시겠습니까? ")) {

            $("#file_idx").attr("value", file_idx);
            $("#BoardForm").attr("action", "del_set_check");

            $("#BoardForm").submit();





        } else {
            alert('취소되었습니다.');
        }



    }
</script>

<form id="file_download" action="~/Board/GetDownload" method="post">
    <input type="hidden" id="link" name="link" />
    <input type="hidden" id="file_name" name="file_name" />

</form>
<script>

    function file_down(s, n) {

        $("#link").attr("value", s);
        $("#file_name").attr("value", n);
        $("#file_download").submit();

    }

</script>